<mat-toolbar color="primary">
  <span>Task Manager</span>
  <span class="spacer"></span>
  
  <ng-container *ngIf="currentUser; else loginButtons">
    <button mat-button [routerLink]="['/tasks']">Tasks</button>
    <button mat-button [matMenuTriggerFor]="userMenu">
      {{ currentUser.username }}
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>
  
  <ng-template #loginButtons>
    <button mat-button [routerLink]="['/login']">Login</button>
    <button mat-button [routerLink]="['/register']">Register</button>
  </ng-template>
</mat-toolbar>