<div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      
      <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" type="text">
            <mat-error *ngIf="f['username'].errors && f['username'].errors['required']">Username is required</mat-error>
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="f['password'].errors && f['password'].errors['required']">Password is required</mat-error>
            <mat-error *ngIf="f['password'].errors && f['password'].errors['minlength']">
              Password must be at least 6 characters
            </mat-error>
          </mat-form-field>
          
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="loading">
              <mat-spinner diameter="20" *ngIf="loading"></mat-spinner>
              <span *ngIf="!loading">Login</span>
            </button>
          </div>
          
          <div class="register-link">
            Don't have an account? <a routerLink="/register">Register here</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
